<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <h1>First 10 Users</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.email %> - <%= user.zip %></li>
    <% }); %>
  </ul>
</body>
</html>
